h3 {
  color: #000;
  font-family: "Bahnschrift Light";
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h6 {
  color: #63a88f;
  font-family: "Bahnschrift Light";
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

img {
  width: 60%;
}

h4 {
  color: #000;
  font-family: "Bahnschrift Light";
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 20px;
  width: 90%;
}
