<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="move-money" color="theme"></ion-back-button>
    </ion-buttons>

    <ion-title><p>Recurring</p></ion-title>

    <ion-buttons (click)="notifications()" slot="end">
      <ion-icon
        size="large"
        color="theme"
        name="notifications-outline"
      ></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end"> &nbsp; &nbsp; </ion-buttons>

    <ion-buttons (click)="user_info()" slot="end">
      <ion-icon size="large" color="theme" name="person-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div>
    <p>From Fund</p>
    <h5>To</h5>
    <ion-card>
      <div class="first">
        <div>
          <h4>Bank:Chase Account</h4>
        </div>
      </div>
    </ion-card>
    <br />
    <br />
    <div>
      <ion-item>
        <ion-label position="stacked">Amount</ion-label>
        <ion-input
          [(ngModel)]="amountinput"
          name="amountinput"
          type="number"
          clearInput="true"
          required
        ></ion-input>
      </ion-item>
    </div>
    <ion-item>
      <ion-label>Frequency</ion-label>
      <ion-select [(ngModel)]="frequency" name="frequency" interface="popover">
        <ion-select-option value="day">Daily</ion-select-option>
        <ion-select-option value="week">Weekly</ion-select-option>
        <ion-select-option value="month">MOnthly</ion-select-option>
        <ion-select-option value="year">Yearly</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Day of the Week</ion-label>
      <ion-select interface="popover">
        <ion-select-option value="nes">Monday</ion-select-option>
        <ion-select-option value="n64">Tuesday</ion-select-option>
        <ion-select-option value="ps">Wednesday</ion-select-option>
        <ion-select-option value="ps">Thursday</ion-select-option>
        <ion-select-option value="ps">Friday</ion-select-option>
        <ion-select-option value="ps">Saturday</ion-select-option>
        <ion-select-option value="ps">Sunday</ion-select-option>
      </ion-select>
    </ion-item> -->
  </div>
  <div class="bottom">
    <ion-button
      (click)="schedule()"
      expand="block"
      fill="solid"
      size="large"
      color="green"
    >
      Schedule
    </ion-button>
    <br />
  </div>
</ion-content>
