ion-menu-button {
  font-size: 40px !important;
  --ionicon-stroke-width: 32px;
}

.round {
  height: 219px;
  width: 219px;
  background-color: #fff;
  box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    color: #000;
    font-size: 25px;
    font-weight: bolder;
    line-height: 0;
  }

  h5 {
    color: #63a88f;
    font-size: 20px;
    font-weight: 400;
    line-height: 0;
  }
}

.outer {
  height: 293px;
  width: 293px;
  background-color: #f06d3d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.ion-card {
  display: flex;
  padding: 0px !important;
  margin: 0;
  color: #000;
  padding: 5%;
  border-radius: 18px;
  background-color: #fff;
  h6 {
    color: #707070;
    font-size: 15px;
    font-weight: bolder;
    line-height: 0;
  }

  h4,
  h2 {
    line-height: 1px;
    color: #000;
    font-weight: bolder;
  }
}

.first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px;
}

.bar {
  width: 17px;
  background: #000;
}

.bar2 {
  width: 17px;
  background-color: #ffac00;
}

.bar3 {
  width: 17px;
  background-color: #78c0a8;
}

.chart {
  padding: 10px;
}

.red {
  color: #e21313 !important;
}

.green {
  color: #62a88e !important;
}

.bottom {
  position: absolute;
  bottom: 30px;
  width: 90%;
}

ion-content {
  --background: #f0f0ff;
}

.para {
  text-align: center;
}

.btn-holder {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.round {
  height: 219px;
  width: 219px;
  background-color: #fff;
  box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    color: #000;
    font-size: 25px;
    font-weight: bolder;
    line-height: 0;
  }

  h5 {
    color: #63a88f;
    font-size: 20px;
    font-weight: 400;
    line-height: 0;
  }
}

.outer {
  height: 293px;
  width: 293px;
  background-color: #f06d3d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

ion-card {
  display: flex;
  padding: 0px !important;
  margin: 0;
  color: #000;
  padding: 5%;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.5);
  h6 {
    color: #707070;
    font-size: 15px;
    font-weight: bolder;
    line-height: 0;
  }

  h4,
  h2 {
    line-height: 1px;
    color: #000;
    font-weight: bolder;
  }
}

.first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px;
}

.bar {
  width: 17px;
  background: #000;
}

.bar2 {
  width: 17px;
  background-color: #ffac00;
}

.bar3 {
  width: 17px;
  background-color: #78c0a8;
}

.chart {
  padding: 10px;
}

.red {
  color: #e21313 !important;
}

.green {
  color: #62a88e !important;
}

.form-container {
  box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.5);
}
