<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="theme"> </ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-align-items-center ion-text-center">Funds</ion-title>

    <ion-buttons (click)="notifications()" slot="end">
      <ion-icon
        size="large"
        color="theme"
        name="notifications-outline"
      ></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end"> &nbsp; &nbsp; </ion-buttons>

    <ion-buttons (click)="user_info()" slot="end">
      <ion-icon size="large" color="theme" name="person-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="here">
    <div class="circle" (click)="fund_inner()">
      <div class="wave">
        <h3>{{amounts.amount | currency }}</h3>
        <h5>
          +{{(amounts.amount+(amounts.amount/100 *(6-inflation))).toFixed(2) |
          currency}}
        </h5>
        <h5>{{(6-inflation) }}% &#11014;</h5>
      </div>
    </div>

    <div class="first" style="width: 100%">
      <div>
        <h6>FDIC insures $250,000</h6>
      </div>

      <div>
        <h6>Time range: 1 year</h6>
      </div>
    </div>

    <ion-card (click)="fund_inner()">
      <div class="bar"></div>
      <div class="chart">
        <img src="../../../assets/Fund Icon.png" alt="" />
      </div>
      <div class="first">
        <div>
          <h4>Fund</h4>
          <h6>100/100%</h6>
        </div>

        <div>
          <h4>{{amounts.amount | currency }}</h4>
          <h6 class="green">
            +{{amounts.amount+(amounts.amount/100 *(6-inflation)) | currency}}|
            {{(6-inflation) }}% &#11014;
          </h6>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
