<ion-tabs>
  <ion-tab-bar>

    <ion-tab-button tab="funds">
      <img src="../../../assets/icon/fund.png" alt="">
      <ion-label>
        Funds
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transfer">
       <img src="../../../assets/icon/transfer.png" alt="">
      <ion-label>
        Transfer
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="borrow">
        <img src="../../../assets/icon/borrow.png" alt="">
      <ion-label>
        Borrow
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="manage">
        <img src="../../../assets/icon/manage.png" alt="">
      <ion-label>
        Manage
      </ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>