ion-tab-bar {
    --background:#F06D3D;
    --color:#fff;
    height: 5rem;
}

img{
  Width: 40px ;
//   Height: 60px
}

ion-label{
    font-size: 18px;
}

ion-tab-button {
    --color-focused:#fff;
    --color-selected:#fff
}