<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="borrow-activity"
      color="theme"
    ></ion-back-button>
    </ion-buttons>

    <ion-title>Pay Back</ion-title>
    <ion-buttons (click)="notifications()" slot="end">
      <ion-icon
        size="large"
        color="theme"
        name="notifications-outline"
      ></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end"> &nbsp; &nbsp; </ion-buttons>

    <ion-buttons (click)="user_info()" slot="end">
      <ion-icon size="large" color="theme" name="person-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"  *ngIf="here">

    <p style="font-weight: bold;">
      Borrow with collateral on Fund
    </p>
    <h5>
      To
    </h5>
    <ion-card>
      <div class="first">
        <div>
          <h4>Bank:Chase Account</h4>
        </div>
      </div>
    </ion-card>
    <br>
    <br>
    <div>
      <ion-item>
        <ion-label position="stacked">Amount</ion-label>
        <ion-input
          type="number"
          clearInput="true"
        [(ngModel)]="amountInput"
          required
        ></ion-input>
      </ion-item>
    </div>
    <br>
    
    <div *ngIf="show">
    <ion-card class="mycolor">
      <div class="pad">
       <p style="color: grey;
       font-size: 12px;">
         Transfer to your "borrow with collateral on fund" account will the principal
       </p>
      </div>
    </ion-card>
<br>
    <div>
      <p (click)="switch()" class="bgreen">
        Switch To Recurring Payment
      </p>
    </div>
  
  <div class="bottom">
    <ion-button
      (click)="pay()"
      expand="block"
      fill="solid"
      size="large"
      color="green"
    >
   Pay
    </ion-button>
    
  </div>
</div>


<div *ngIf="!show">
 
  <ion-item>
    <ion-label position="stacked">Frequency</ion-label>
    <ion-select [(ngModel)]="freq" name="freq" required>
      <ion-select-option value="day">Daily</ion-select-option>
      <ion-select-option value="week">Weekly</ion-select-option>
      <ion-select-option value="month">Monthly</ion-select-option>
    </ion-select>
  </ion-item>


<br>
  <ion-card class="mycolor">
    <div class="pad">
     <p style="color: grey;
     font-size: 12px;">
       Transfer to your "borrow with collateral on fund" account will the principal
     </p>
    </div>
  </ion-card>
  <br>
  <div>
    <p (click)="onetime()" class="bgreen">
      Switch To One Time Payment
    </p>
  </div>

<div class="bottom">
  <ion-button
    (click)="schedule()"
    expand="block"
    fill="solid"
    size="large"
    color="green"
  >
 Schedule
  </ion-button>
  <br />
</div>
</div>

</ion-content>
